In [36]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split

In [37]:
df = pd.read_csv('train_aox2Jxw/train.csv', parse_dates=['Date.of.Birth', 'DisbursalDate'])

In [44]:
a = df['CREDIT.HISTORY.LENGTH'].apply(lambda x: x.split(' ')[0])
print(a.head())

0    0yrs
1    1yrs
2    0yrs
3    1yrs
4    0yrs
Name: CREDIT.HISTORY.LENGTH, dtype: object

In [40]:
print(df.head())
print(df.dtypes)

   UniqueID  disbursed_amount  asset_cost    ltv  branch_id  supplier_id  \
0    420825             50578       58400  89.55         67        22807
1    537409             47145       65550  73.23         67        22807
2    417566             53278       61360  89.63         67        22807
3    624493             57513       66113  88.48         67        22807
4    539055             52378       60300  88.39         67        22807

   manufacturer_id  Current_pincode_ID Date.of.Birth Employment.Type  \
0               45                1441    1984-01-01        Salaried
1               45                1502    1985-07-31   Self employed
2               45                1497    1985-08-24   Self employed
3               45                1501    1993-12-30   Self employed
4               45                1495    1977-09-12   Self employed

       ...      SEC.SANCTIONED.AMOUNT  SEC.DISBURSED.AMOUNT  \
0      ...                          0                     0
1      ...                          0                     0
2      ...                          0                     0
3      ...                          0                     0
4      ...                          0                     0

   PRIMARY.INSTAL.AMT  SEC.INSTAL.AMT  NEW.ACCTS.IN.LAST.SIX.MONTHS  \
0                   0               0                             0
1                1991               0                             0
2                   0               0                             0
3                  31               0                             0
4                   0               0                             0

   DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS  AVERAGE.ACCT.AGE  \
0                                    0         0yrs 0mon
1                                    1        1yrs 11mon
2                                    0         0yrs 0mon
3                                    0         0yrs 8mon
4                                    0         0yrs 0mon

   CREDIT.HISTORY.LENGTH  NO.OF_INQUIRIES  loan_default
0              0yrs 0mon                0             0
1             1yrs 11mon                0             1
2              0yrs 0mon                0             0
3              1yrs 3mon                1             1
4              0yrs 0mon                1             1

[5 rows x 41 columns]
UniqueID                                        int64
disbursed_amount                                int64
asset_cost                                      int64
ltv                                           float64
branch_id                                       int64
supplier_id                                     int64
manufacturer_id                                 int64
Current_pincode_ID                              int64
Date.of.Birth                          datetime64[ns]
Employment.Type                                object
DisbursalDate                          datetime64[ns]
State_ID                                        int64
Employee_code_ID                                int64
MobileNo_Avl_Flag                               int64
Aadhar_flag                                     int64
PAN_flag                                        int64
VoterID_flag                                    int64
Driving_flag                                    int64
Passport_flag                                   int64
PERFORM_CNS.SCORE                               int64
PERFORM_CNS.SCORE.DESCRIPTION                  object
PRI.NO.OF.ACCTS                                 int64
PRI.ACTIVE.ACCTS                                int64
PRI.OVERDUE.ACCTS                               int64
PRI.CURRENT.BALANCE                             int64
PRI.SANCTIONED.AMOUNT                           int64
PRI.DISBURSED.AMOUNT                            int64
SEC.NO.OF.ACCTS                                 int64
SEC.ACTIVE.ACCTS                                int64
SEC.OVERDUE.ACCTS                               int64
SEC.CURRENT.BALANCE                             int64
SEC.SANCTIONED.AMOUNT                           int64
SEC.DISBURSED.AMOUNT                            int64
PRIMARY.INSTAL.AMT                              int64
SEC.INSTAL.AMT                                  int64
NEW.ACCTS.IN.LAST.SIX.MONTHS                    int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS             int64
AVERAGE.ACCT.AGE                               object
CREDIT.HISTORY.LENGTH                          object
NO.OF_INQUIRIES                                 int64
loan_default                                    int64
dtype: object

In [11]:
df['DisbursalDate'].head()

0   2018-03-08
1   2018-09-26
2   2018-01-08
3   2018-10-26
4   2018-09-26
Name: DisbursalDate, dtype: datetime64[ns]

In [22]:
df.drop(['UniqueID', 'Employee_code_ID', 'supplier_id', 'Current_pincode_ID'], inplace=True, axis=1)
df['Employment.Type'].fillna('temp', inplace=True)

In [23]:
df[['Date.of.Birth', 'DisbursalDate', 'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH']].head()

  Date.of.Birth DisbursalDate AVERAGE.ACCT.AGE CREDIT.HISTORY.LENGTH
0    1984-01-01    2018-03-08                0                     0
1    1985-07-31    2018-09-26                1                     1
2    1985-08-24    2018-01-08                0                     0
3    1993-12-30    2018-10-26                0                     1
4    1977-09-12    2018-09-26                0                     0

In [24]:
df['CREDIT.HISTORY.LENGTH'] = df['CREDIT.HISTORY.LENGTH'].apply(lambda x: x.split(' ')[0])
df['CREDIT.HISTORY.LENGTH'] = df['CREDIT.HISTORY.LENGTH'].apply(lambda x: x.split('yrs')[0])

df['AVERAGE.ACCT.AGE'] = df['AVERAGE.ACCT.AGE'].apply(lambda x: x.split(' ')[0])
df['AVERAGE.ACCT.AGE'] = df['AVERAGE.ACCT.AGE'].apply(lambda x: x.split('yrs')[0])

In [25]:
df[['Date.of.Birth', 'DisbursalDate', 'AVERAGE.ACCT.AGE', 'CREDIT.HISTORY.LENGTH']].head()

  Date.of.Birth DisbursalDate AVERAGE.ACCT.AGE CREDIT.HISTORY.LENGTH
0    1984-01-01    2018-03-08                0                     0
1    1985-07-31    2018-09-26                1                     1
2    1985-08-24    2018-01-08                0                     0
3    1993-12-30    2018-10-26                0                     1
4    1977-09-12    2018-09-26                0                     0

In [31]:
df['Date.of.Birth'] = np.abs(2019 - df['Date.of.Birth'].dt.year)
df['DisbursalDate'] = df['DisbursalDate'].dt.month

In [35]:
df.dtypes

disbursed_amount                         int64
asset_cost                               int64
ltv                                    float64
branch_id                                int64
manufacturer_id                          int64
Date.of.Birth                            int64
Employment.Type                         object
DisbursalDate                            int64
State_ID                                 int64
MobileNo_Avl_Flag                        int64
Aadhar_flag                              int64
PAN_flag                                 int64
VoterID_flag                             int64
Driving_flag                             int64
Passport_flag                            int64
PERFORM_CNS.SCORE                        int64
PERFORM_CNS.SCORE.DESCRIPTION           object
PRI.NO.OF.ACCTS                          int64
PRI.ACTIVE.ACCTS                         int64
PRI.OVERDUE.ACCTS                        int64
PRI.CURRENT.BALANCE                      int64
PRI.SANCTIONED.AMOUNT                    int64
PRI.DISBURSED.AMOUNT                     int64
SEC.NO.OF.ACCTS                          int64
SEC.ACTIVE.ACCTS                         int64
SEC.OVERDUE.ACCTS                        int64
SEC.CURRENT.BALANCE                      int64
SEC.SANCTIONED.AMOUNT                    int64
SEC.DISBURSED.AMOUNT                     int64
PRIMARY.INSTAL.AMT                       int64
SEC.INSTAL.AMT                           int64
NEW.ACCTS.IN.LAST.SIX.MONTHS             int64
DELINQUENT.ACCTS.IN.LAST.SIX.MONTHS      int64
AVERAGE.ACCT.AGE                        object
CREDIT.HISTORY.LENGTH                   object
NO.OF_INQUIRIES                          int64
loan_default                             int64
dtype: object

In [ ]:
y = df['loan_default']
x = df.iloc[:,:-1]
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
cat_indice = np.array([3, 4, 6, 8, 9, 10, 11, 12, 13, 14, 16])
model = CatBoostClassifier(eval_metric='AUC' , depth=10, iterations= 500, l2_leaf_reg= 6, learning_rate= 0.1)
model.fit(x_train, y_train, cat_features = cat_indice)